@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url('./notes.css');
@import url('./login.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: rgb(253, 230, 201);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
