.notes{
    min-height: 100vh;
    background-color: rgba(250, 235, 215, 0.79);
}
.notes .form_section{
    padding: 4rem 3rem;
}
.notes .note_section{
    padding: 4rem 3rem;
}
.notes .form-control{
    border-radius: 0;
    box-shadow: none;
}
.notes .btn{
    border-radius: 0;
}
.notes .form-control::placeholder{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.notes .card{
    border-radius: 0;
    height: 250px;
    /* width: 100%; */
}

.notes .card:hover{
    border-radius: 2px;
    transform: scale(1.05);
    transition: all 0.5s ease;
}
.notes .card .bi{
    opacity: 0;
    transform: translateY(10px);
    transition: 0.2s all ease;
}
.notes .card:hover .bi{
    opacity: 1;
    transform: translateY(0px);
    color: white;
}
.notes .card-footer{
    visibility: hidden;
}
.notes .card:hover .card-footer{
    visibility: visible;
    background-color: rgb(172, 101, 0);
    border-radius: 0;
}
.notes .card-footer .bi:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}
