<nav class="navbar navbar-expand-md">
    <div class="container">
        <LinkTo class="navbar-brand" @route="index"><i class="bi bi-journal"></i> Scribbles</LinkTo>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <LinkTo class="nav-link" @route="index">Home</LinkTo>
                </li>
                <li class="nav-item">
                    <LinkTo class="nav-link" @route="notes">Notes</LinkTo>
                </li>
                <li class="nav-item">
                    <LinkTo class="nav-link" @route="login">Login</LinkTo>
                </li>
            </ul>
        </div>
    </div>
</nav>